<template>
  <div class="container">
    <h1 class="text-uppercase">Nuevo artículo</h1>
    <form :disabled="submitted">
      <div class="form-group">
        <label>Título</label>
        <input
          class="form-control"
          type="text"
          v-model="article.title"
          :disabled="submitted">
      </div>
      <div class="form-group">
        <label>Contenido</label>
        <textarea
          class="form-control"
          v-model="article.content"
          :disabled="submitted">
        </textarea>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          v-model="article.published"
          :disabled="submitted">
        <label class="form-check-label">Público</label>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3 offset-md-6 mt-2">
          <router-link
            class="btn btn-secondary w-100"
            :to="{name: 'dashboard'}"
            :disabled="submitted">
              Cancelar
          </router-link>
        </div>
        <div class="col-sm-12 col-md-3 mt-2">
          <button
            class="btn btn-primary w-100"
            @click.prevent="createArticle"
            :disabled="submitted || !isValidArticle">
              Crear artículo
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Repository from '../services/repository'

const repository = new Repository()

export default {
  name: 'add-article',
  data () {
    return {
      article: {
        title: '',
        content: '',
        published: false
      },
      submitted: false
    }
  },
  computed: {
    isValidArticle: function () {
      return this.article.title && this.article.content
    }
  },
  methods: {
    createArticle: function () {
      let self = this
      self.submitted = true

      repository.createArticle(this.article)
        .then(function (data) {
          self.$router.push('/dashboard')
        })
        .catch(function (error) {
          console.error(error)
          self.submitted = false
        })
    }
  }
}
</script>

<style>
</style>
