<template>
  <div>
    <h1 class="text-uppercase">Dashboard</h1>
    <router-link :to="{ name: 'createArticle'}" class="btn btn-primary mb-2 float-right">
      <span class="oi oi-plus mr-1"></span>  Crear Artículo
    </router-link>
    <div class="table-responsive mb-5">
      <p v-if="!articles.length" class="">Cargando artículos...</p>
      <table v-else class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Resumen</th>
            <th scope="col">Público</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="article in articles" :key="article._id">
            <th>{{ article.title }}</th>
            <td>{{ article.content | trim(30) }}</td>
            <td class="text-center align-middle">
              <span v-if="article.published" class="oi oi-check text-success mx-auto"></span>
              <span v-else class="oi oi-ban text-muted"></span>
            </td>
            <td class="text-center align-middle">
              <router-link :to="{ name: 'viewArticle', params: { id: article._id }}">
                <span class="oi oi-eye"></span>
              </router-link>
              <router-link :to="{ name: 'editArticle', params: { id: article._id }}">
                <span class="oi oi-pencil ml-3"></span>
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Repository from '../services/repository'
import filterMixin from '../mixins/filterMixin'

const repository = new Repository()

export default {
  data () {
    return {
      articles: []
    }
  },
  created () {
    let self = this

    repository.getArticles()
      .then(function (data) {
        self.articles = data
      })
      .catch(function (error) {
        console.error(error)
      })
  },
  mixins: [filterMixin]
}
</script>

<style>
</style>
