<template>
  <div class="container">
    <h1 class="text-uppercase">Editar artículo</h1>
    <div v-if="!fetchedArticle">Cargando artículo...</div>
    <div v-else>
      <button
        class="btn btn-sm btn-danger float-right"
        @click="deleteArticle()"
        :disabled="submitted">
        <span class="oi oi-trash mr-1"></span> Eliminar artículo
      </button>
      <div class="clearfix"></div>
      <form>
        <div class="form-group">
          <label>Título</label>
          <input
            class="form-control"
            type="text"
            v-model="article.title"
            :disabled="submitted">
        </div>
        <div class="form-group">
          <label>Contenido</label>
          <textarea
            class="form-control"
            v-model="article.content"
            :disabled="submitted">
          </textarea>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            v-model="article.published"
            :disabled="submitted">
          <label class="form-check-label">Público</label>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3 offset-md-6 mt-2">
            <router-link
              class="btn btn-secondary w-100"
              :to="{name: 'dashboard'}"
              :disabled="submitted">
                Cancelar
            </router-link>
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <button
              class="btn btn-primary w-100"
              @click.prevent="updateArticle"
              :disabled="submitted || !isValidArticle">
                Guardar cambios
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Repository from '../services/repository'

const repository = new Repository()

export default {
  data () {
    return {
      id: this.$route.params.id,
      article: {
        title: '',
        content: '',
        published: false
      },
      submitted: false,
      fetchedArticle: false
    }
  },
  created () {
    let self = this

    repository.getArticle(this.id)
      .then(function (data) {
        console.log(data)
        self.article = data
        self.fetchedArticle = true
      })
      .catch(function (error) {
        console.error(error)
      })
  },
  computed: {
    isValidArticle: function () {
      return this.article.title && this.article.content
    }
  },
  methods: {
    updateArticle: function () {
      let self = this
      self.submitted = true

      repository.updateArticle(this.id, this.article)
        .then(function (data) {
          self.$router.push('/dashboard')
        })
        .catch(function (error) {
          console.error(error)
          self.submitted = false
        })
    },
    deleteArticle: function () {
      let self = this
      self.submitted = true

      repository.deleteArticle(this.id)
        .then(function (data) {
          self.$router.push('/dashboard')
        })
        .catch(function (error) {
          console.error(error)
          self.submitted = false
        })
    }
  }
}
</script>

<style>
</style>
