<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 justify-content-between">
    <router-link class="navbar-brand" :to="{ name: 'home'}">{{ appTitle }}</router-link>
    <router-link class="navbar-brand" :to="{ name: 'dashboard'}">
      <span class="oi oi-cog"></span>
    </router-link>
  </nav>
</template>

<script>
export default {
  name: 'app-header',
  data () {
    return {
      appTitle: 'vuejs blog'
    }
  }
}
</script>

<style>
</style>
