<template>
  <div>
    <p v-if="!articles.length" class="">Cargando artículos...</p>
    <div class="row">
      <div class="col-sm-10 col-md-8 offset-md-2" v-for="article in articles" v-if="article.published" :key="article._id">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title text-uppercase">{{ article.title }}</h5>
            <p class="card-text">{{ article.content | trim(200) }}</p>
            <router-link :to="{ name: 'viewArticle', params: { id: article._id }}" class="btn btn-primary float-right">
              Leer más
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Repository from '../services/repository'
import filterMixin from '../mixins/filterMixin'

const repository = new Repository()

export default {
  data () {
    return {
      articles: []
    }
  },
  created () {
    let self = this

    repository.getArticles()
      .then(function (data) {
        self.articles = data
      })
      .catch(function (error) {
        console.error(error)
      })
  },
  mixins: [filterMixin]
}
</script>

<style>
</style>
