<template>
  <div>
    <p v-if="!fetchedArticle" class="">Cargando artículo...</p>
    <div v-else>
      <h1 class="text-uppercase">
      {{ article.title }}
      </h1>
      <p>{{ article.content }}</p>
      <router-link class="navbar-brand float-right" :to="{ name: 'home'}">Volver a lista de artículos</router-link>
    </div>
  </div>
</template>

<script>
import Repository from '../services/repository'

const repository = new Repository()

export default {
  data () {
    return {
      id: this.$route.params.id,
      article: {
        title: '',
        content: '',
        published: false
      },
      fetchedArticle: false
    }
  },
  created () {
    let self = this

    repository.getArticle(this.id)
      .then(function (data) {
        console.log(data)
        self.article = data
        self.fetchedArticle = true
      })
      .catch(function (error) {
        console.error(error)
      })
  }
}
</script>

<style>
</style>
