<template>
  <div id="app">
    <app-header/>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Header from '@/components/header.vue'

export default {
  name: 'App',
  components: {
    'app-header': Header
  }
}
</script>

<style>
</style>
